[language-server]
clangd = { command = "clangd", args = [ "--clang-tidy" ] }

[[language]]
name = "markdown"
language-servers = ["mdpls"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"]}

[[language]]
name = "python"
scope = "source.python"
injection-regex = "python"
file-types = ["py","pyi","py3","pyw",".pythonstartup",".pythonrc"]
shebangs = ["python"]
roots = [".", "pyproject.toml", "pyrightconfig.json"]
comment-token = "#"
language-servers = ["pyright", "ruff"]
indent = { tab-width = 4, unit = "    " }
auto-format = false

[language.formatter]
command = "ruff"
args = [
  "format",
  "-"
]

[language-server.ruff]
command = "ruff"
args = ["server"]
environment = { "RUFF_TRACE" = "messages" }

[language-server.ruff.config.settings]
logLevel = "debug"

[tool.ruff]
line-length = 200

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]

[language-server.pyright.config]
reportMissingTypeStubs = false

[language-server.pyright.config.python.analysis]
typeCheckingMode = "basic"
autoImportCompletions = true

[[language]]
name = "json"
formatter = { command = "prettier", args = ["--parser", "json"] }

[language-server.mdpls]
command = "mdpls"
config = { markdown.preview.auto = true, markdown.preview.serveStatic = true}

[language-server.tinymist]
command = "tinymist"
config = { preview.background.enabled = true, preview.background.args = [
  "--data-plane-host=127.0.0.1:23635",
  "--invert-colors=never",
  "--open",
] }

[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[[language]]
name = "typst"
language-servers = ["tinymist", "harper-ls"]
formatter = { command = "typstyle", args = ["--line-width=100", "--wrap-text"] }
