layout {
    pane split_direction="vertical" {
        pane size="20%" command="yazi"
        pane size="80%" command="hx" {
            focus true
        }
    }

    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
    floating_panes {
        pane {
            x "5%"
            y "5%"
            width "90%"
            height "90%"
        }
    }
}
